<%= render "shared/header"%>

<div class= 'main'>
  <div class='title-contents'>
    <h2 class='service-title'>
      未だない体験を
    </h2>
    <p class='service-explain'>
      体験を共有できるコミュニティ
    </p>
  </div>

  <div class='article-contents'>
    <h2 class='title'>【投稿記事一覧】</h2>
    <%= link_to new_article_path do%>
    <div class='post-btn'>
      <span class='post-btn-text'>記事の投稿はこちらから</span>
    </div>
    <% end %>
    <div class='article-lists'>
      <% @articles.each do |article| %>
        <div class='list'>
            <%= link_to article_path(article.id) do %>
              <div class="article-img-content">
                <%= image_tag article.image, class: "article-img"%>
                  <div class='article-info'>
                    <h3 class='article-name'>
                      <%= article.title %>
                    </h3>
                  </div>
              </div>
              
            <% end %>
        </div>
      <% end %>
    </div>
  <div>
</div>