
<div class="article-show">
  <div class="user-name">
    <%= link_to "#{@article.user.nickname}さんの記事", user_path, method: :get, class: "user_name" %>
  </div>

  <div class="article-box">
    <%= image_tag @article.image,class:"article-box-img"%>
  </div>
    <div class="article-img-box">

    <h2 class="name">
      <%= @article.title %>
    </h2>

      <div class="article-content-box">
        <span class="article-content">
          <%= @article.content%>
        </span>
      </div>

      <% if user_signed_in? && current_user.id == @article.user_id%>
          <%= link_to '記事の編集', edit_article_path(@article.id), method: :get, class: "article-red-btn" %>
          <p class='or-text'>or</p>
          <%= link_to '削除', article_path(@article.id), method: :delete, class:'article-destroy' %>
      <% end %>

      <% if current_user.liked_by?(@article.id) %>
          <%= link_to 'お気に入り解除', destroy_like_path(@article), method: :DELETE %><%= @article.likes.count %>
      <% else %>
          <%= link_to 'お気に入り登録', create_like_path(@article), method: :POST %><%= @article.likes.count %>
      <% end %>

  </div>
  <div class="container">
    <% if current_user %>
      <%= form_with model:[@article, @comment], local: true do |form| %>
       <div class="comment-posts"> 
        <%= form.text_area :text, placeholder: "コメント内容を書く", class:"comment-size" %>
       </div> 
       <div class="comment-btn">
        <%= form.submit "コメント", class:"comment-btn"%>
       </div>
      <% end %>
    <% else %>
      <strong><p> コメントするには新規登録orログインが必要です。</p></strong>
    <% end %>
    <div class="comments">
      <h4>【コメント一覧】</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
            <%= comment.text%>
            </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>