<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="top-page">
    <%= link_to "TOPへ戻る", articles_path, method: :get, class: "user_name" %>
  </div>

  <div class="user-name">
    <%= link_to "#{@article.user.nickname}さんの記事", user_path, method: :get, class: "user_name" %>
  </div>

  <div class="item-box">
    <h2 class="name">
      <%= "記事名" %>
    </h2>
    
    <div class='item-img-content'>
      <%= image_tag @article.image,class:"item-box-img" %>
    </div>

    <div class="item-title-box">
      <span class="item-title">
        <%= @article.title%>
      </span>
    </div>

    <div class="item-content-box">
      <span class="item-content">
        <%= @article.content%>
      </span>
    </div>

       <% if user_signed_in? && current_user.id == @article.user_id%>
        <%= link_to '記事の編集', edit_article_path(@article.id), method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', article_path(@article.id), method: :delete, class:'item-destroy' %>
        <% end %>

    <%#お気に入り？%>
      <div class="favorite-btn">
        <% if current_user.liked_by?(@article.id) %>
            <%= link_to 'お気に入り解除', destroy_like_path(@article), method: :DELETE %><%= @article.likes.count %>
        <% else %>
            <%= link_to 'お気に入り登録', create_like_path(@article), method: :POST %><%= @article.likes.count %>
        <% end %>
      </div>
  </div>

  <div class="comment-box">
    <% if current_user %>
      <%= form_with model:[@article, @comment], local: true do |form| %>
       <div class="comment-posts"> 
        <%= form.text_area :text, placeholder: "コメント内容を書く", class:"comment-posts" %>
       </div> 
     <div class="comment-btn">
        <%= form.submit "コメント", class:"comment-btn"%>
     </div>
      <% end %>
    <% else %>
      <strong><p> コメントするには新規登録orログインが必要です。</p></strong>
    <% end %>
    <div class="comments">
      <h4>【コメント一覧】</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
            <%= comment.text%>
            </p>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
